.floating-btn {
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 10;
}
.create-btn {
    background: #fff;
    border-radius: 100px;
    border: 1px solid #ff7f50;
    padding: 1rem;
    width: 125px;
    height: 125px;
    box-shadow: 4px 5px 9px #80808085;
    transition: all 0.3s ease-in-out;
}

.create-btn:hover {
    background: #ffd2c1f3;
    rotate: -2deg;
}
