.CONTAINER_BOOKINGCARD {
    width: 95%;
    max-width: 400px;
    height: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: white;
    color: #333;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 35%);
    transition: transform 0.3s ease-in-out;
}

.CONTAINER_BOOKINGCARD:hover {
    transform: translateY(-5px);
}

.IMG_WRAPPER_BOOKINGCARD {
    height: 275px;
    overflow: hidden;
}

.IMG_BOOKINGCARD {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.CONTAINER_BOOKINGCARD:hover .IMG_BOOKINGCARD {
    transform: scale(1.05);
}

.DETAILS_BOOKINGCARD {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.HEADER_WRAPPER_BOOKINGCARD {
    margin-bottom: 1rem;
}

.HEADER_BOOKINGCARD {
    font-family: "League Spartan", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.DATES_BOOKINGCARD {
    font-size: 1rem;
    font-weight: bold;
    color: #555;
    margin: 0.25rem 0;
}

.VENUE_DESC_WRAPPER_BOOKINGCARD {
    margin-bottom: 1rem;
}

.VENUE_DESC_BOOKINGCARD {
    font-size: 1rem;
    color: #666;
    height: 3rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.VENUE_LOCATION_WRAPPER_BOOKINGCARD {
    margin-bottom: 1rem;
}

.VENUE_LOCATION_BOOKINGCARD {
    font-size: 1rem;
    color: #777;
}

.VENUE_PRICE_WRAPPER_BOOKINGCARD {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
}

.VENUE_PRICE_BOOKINGCARD {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

.EXTRAS_WRAPPER_BOOKINGCARD {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.EXTRAS_BOOKINGCARD {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.BADGE_BOOKINGCARD {
    display: inline-block;
    padding: 0.25rem 1rem;
    background: #ffd065db;
    border-radius: 12px;
    font-size: 0.75rem;
    font-weight: bold;
    color: #333;
    box-shadow: inset 1px 1px 2px #9b7539a1;
}

.VIEWMORE_BTN_WRAPPER {
    display: flex;
    justify-content: center;
}

.VIEWMORE_BTN_BOOKINGCARD {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.VIEWMORE_BTN_BOOKINGCARD:hover {
    transform: scale(1.05) rotate(-3deg);
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
    .CONTAINER_BOOKINGCARD {
        width: 100%;
    }

    .HEADER_BOOKINGCARD {
        font-size: 2rem;
    }

    .VENUE_DESC_BOOKINGCARD {
        font-size: 0.9rem;
    }

    .VENUE_LOCATION_BOOKINGCARD {
        font-size: 0.9rem;
    }

    .VENUE_PRICE_BOOKINGCARD {
        font-size: 1rem;
    }

    .BADGE {
        font-size: 0.65rem;
        padding: 0.4rem 0.8rem;
    }

    .VIEWMORE_BTN_BOOKINGCARD {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .CONTAINER_BOOKINGCARD {
        max-width: 100%;
    }

    .IMG_WRAPPER_BOOKINGCARD {
        height: 250px;
    }

    .HEADER_BOOKINGCARD {
        font-size: 1.4rem;
    }

    .VENUE_DESC_BOOKINGCARD {
        font-size: 0.8rem;
    }

    .VENUE_LOCATION_BOOKINGCARD {
        font-size: 0.8rem;
    }

    .VENUE_PRICE_BOOKINGCARD {
        font-size: 1.1rem;
    }

    .BADGE {
        font-size: 0.7rem;
        padding: 0.3rem 0.6rem;
    }

    .VIEWMORE_BTN_BOOKINGCARD {
        font-size: 1rem;
        font-weight: bold;
    }
}
