.dashboard-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em 0;
    font-family: "League Spartan", sans-serif;
}

.dashboard-header {
    padding-bottom: 2em;
}

.dashboard-header h1 {
    font-size: 2.5rem;
    color: #333;
}

.user-title {
    font-size: 1.5rem;
    color: #ff6347;
}

.TOP-SECTION_DASHBOARD {
    height: 20rem;
    min-height: 400px;
    max-width: 850px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar-section {
    display: flex;
    height: 100%;
    width: 50%;
    max-width: 350px;
}

.INFO-SECTION {
    display: flex;
    height: 75%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.HEADER-INFO_DASHBOARD {
    font-size: 1.7rem;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.ROLE-WRAPPER_DASHBOARD {
    margin-bottom: 1rem;
}

.ROLE-WRAPPER_DASHBOARD p {
    font-size: 1.3rem;
}

.INFO-SECTION p {
    font-size: 1.4rem;
    color: #333;
    text-transform: capitalize;
}

.AvatarManagement,
.VenueManagement,
.CustomerBookings {
    margin-top: 2rem;
}

.OVERVIEW-CONTAINER_BOOKING {
    width: 100%;
}

.bookings-section {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.BOOKING-CONTAINER {
    width: 100%;
    padding: 1rem 0 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.OVERVIEW_HEADER {
    color: #333;
    font-size: 1.9rem;
}

@media screen and (max-width: 768px) {
    .OVERVIEW-CONTAINER_BOOKING {
        width: 90%;
        margin: 0 auto;
    }
}
