/* General Styling */
.HEADER-CONTAINER {
    width: 100%;
    background-color: #f7f3ef;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 0;
}

.HEADER-CONTENT {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.MOBILE-MENU-WRAPPER {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.LOGO-WRAPPER {
    max-width: 75px;
    display: flex;
    justify-content: center;
}

.HAMBURGER-BTN {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.HAMBURGER-BTN:hover {
    scale: 1.1;
}

.HAMBURGER-ICON {
    height: 36px;
    width: 36px;
    color: #333;
}

/* Menu Content Wrapper */
.MENU-CONTENT-WRAPPER {
    width: 100%;
    max-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    overflow: hidden;
    transition:
        max-height 0.4s ease-in-out,
        padding 0.3s ease-in-out;
}

.MENU-CONTENT-WRAPPER.OPEN {
    max-height: 300px;
    padding: 0.5em 0;
}

.SEARCH-WRAPPER {
    width: 85%;
    margin: 2rem 0 1.5rem;
}

.SEARCHBAR {
    width: 100%;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: white;
    font-style: italic;
    box-shadow: inset 3px 2px 4px rgb(0 0 0 / 24%);
}

.NAVLINKS-WRAPPER {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.NAVLINK_NAVIGATION {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.NAVLINK_NAVIGATION:hover {
    text-decoration: underline;
    scale: 1.1;
    rotate: -2deg;
    font-weight: bold;
}

.LOGOUT-WRAPPER {
    margin: 1rem 0;
}

.LOGOUT-BTN {
    padding: 0.25rem 1rem;
    border: none;
    background-color: #f44336;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.LOGOUT-BTN:hover {
    background-color: #d32f2f;
    scale: 1.1;
}

.LOGIN-SIGNUP-WRAPPER {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.LOGIN-BTN,
.REGISTER-BTN {
    width: 80px;
    margin: 0.5rem 0;
    border: 1px solid #333;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #333;
    box-shadow: 2px 3px 3px rgb(0 0 0 / 36%);
    transition: all 0.3s ease-in-out;
}

.LOGIN-BTN {
    background-color: #fdf1da;
    padding: 0.5rem 1rem;
}

.REGISTER-BTN {
    background-color: #ffd065;
    padding: 0.5rem;
}

.LOGIN-BTN:hover,
.REGISTER-BTN:hover {
   scale: 1.05;
    font-weight: bold;
}

/* Media Queries */
@media screen and (min-width: 778px) {
    .HEADER-CONTENT {
        flex-direction: row;
        justify-content: space-between;
        margin: 0.5rem auto;
    }

    .MOBILE-MENU-WRAPPER {
        width: auto;
    }

    .LOGO-WRAPPER {
        width: 100%;
        max-width: 115px;
    }

    .HAMBURGER-BTN {
        display: none;
    }

    .MENU-CONTENT-WRAPPER {
        width: 85%;
        margin: 0 1rem;
        padding: 0 0.35rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-height: none;
    }

    .SEARCH-WRAPPER {
        width: 30%;
        margin: 0;
    }

    .SEARCHBAR {
        width: 100%;
    }

    .NAVLINKS-WRAPPER {
        flex-direction: row;
        justify-content: space-around;
        width: 45%;
    }

    .NAVLINK_NAVIGATION {
        margin: 0;
    }

    .LOGOUT-WRAPPER {
        margin: 0;
        width: auto;
        display: flex;
        justify-content: flex-end;
    }

    .LOGIN-SIGNUP-WRAPPER {
        justify-content: space-between;
        flex-direction: row;
        width: 25%;
    }

    .LOGIN {
        width: 45%;
        display: flex;  
    }

    .LOGIN-BTN {
        padding: 0.25rem 0.5rem;
    }

    .REGISTER-BTN {
        padding: 0.25rem 1rem;
    }

    .LOGIN-BTN, .REGISTER-BTN {
        margin: 0;
        width: 100%;
        display: block;
    }

}
