/* RegisterForm CSS */
.REGISTER-FORM-CONTAINER {
    max-width: 600px;
    margin: 1.5rem auto 2.5rem;
    padding: 20px;
}

.REGISTER-FORM-CONTAINER H1 {
    font-size: 2em;
    margin-bottom: 0.5rem;
}

.REGISTER-FORM-CONTAINER P {
    margin-bottom: 2rem;
}

.FORM-ITEM_WRAPPER_REGISTER {
    margin-bottom: 20px;
}

.FORM-LABEL_REGISTER {
    display: block;
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    margin-bottom: 5px;
}

.FORM-INPUT_REGISTER,
.FORM-TEXTAREA_REGISTER,
.FORM-SELECT_REGISTER {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.MANAGER-WRAPPER_REGISTER {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MANAGER_REGISTER {
    width: 60%;
    font-size: 1.2rem;
}

.MANAGER_INPUT {
    width: 1.5rem;
    height: 1.5rem;
    padding: 4em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.FORM-INPUT_REGISTER.invalid,
.FORM-TEXTAREA_REGISTER.invalid,
.FORM-SELECT_REGISTER.invalid {
    border-color: red;
}

.FORM-TEXTAREA_REGISTER {
    height: 100px;
}

.FORM-SELECT_REGISTER {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
}

.FORM-OPTION_REGISTER {
    padding: 10px;
}

.ERROR-MESSAGE_REGISTER {
    color: red;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 5px;
}

.SEND-BTN-WRAPPER_REGISTER {
    text-align: right;
    font-size: 1.3rem;
}

.SEND-BTN_REGISTER {
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.541);
}

.SEND-BTN_REGISTER:hover {
    text-decoration: underline;
    scale: 1.05;
    rotate: -3deg;
}

.SEND-BTN_REGISTER:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.CLOSE-BTN-WRAPPER_REGISTER {
    text-align: center;
    padding-top: 0.5rem 0 1rem;
}

.CLOSE-BTN_REGISTER {
    background-color: rgb(211, 127, 30);
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

.CLOSE-BTN_REGISTER:hover {
    background-color: #0056b3;
}

.CLOSE-BTN_REGISTER:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: white !important;
    color: fieldtext !important;
}

.REGISTER-FORM-CONTAINER .modal-header h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.ERROR-CONTAINER_REGISTER {
    margin-top: 1rem;
}

.GENERAL-ERROR-MESSAGE_REGISTER {
    color: red;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 5px;
}
